[user]
	name = Bruno Rocha
	email = rochacbruno@gmail.com
	signingkey = AB110BDC10ED0A39
[color]
    ui = true
[push]
    default = simple
[alias]
    pushu = "push -u origin HEAD"
    pushf = "push -f origin HEAD"
    hist = "log --decorate --graph --pretty=oneline --abbrev-commit --all"
    cleanup = "!git branch -D $(git branch| grep -v master) || echo 'No branch to delete'"
    up = "!git fetch upstream && git rebase upstream/master || git pull"
    nvm = "reset --soft HEAD~1"
    s = "status"
    l = "log -n 2"
    work = "checkout -b"
    m = "checkout master"
[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = delta
[hub]
    protocol = git
[http]
    sslVerify = true
[interactive]
    diffFilter = delta --color-only
[delta]
    features = side-by-side line-numbers decorations
    whitespace-error-style = 22 reverse
[delta "decorations"]
    commit-decoration-style = bold yellow box ul
    file-style = bold yellow ul
    file-decoration-style = none
[github]
	user = rochacbruno
[commit]
	gpgsign = true
[merge]
	tool = vimdiff
	conflicstyle = diff3
